Options -Indexes
DirectoryIndex mealodex.html

RewriteEngine on
RewriteBase /mealodex/
RewriteRule \.git/ - [F]
RewriteRule etc/ - [F]

RewriteCond $0#%{REQUEST_URI} ([^#]*)#(.*)\1$
RewriteRule (android|apple|ms)\-icon\-([0-9]+)x([0-9]+)\.png$ %2favicon-$2.png
RewriteCond $0#%{REQUEST_URI} ([^#]*)#(.*)\1$
RewriteRule favicon\-([0-9]+)x([0-9]+)\.png$ %2favicon-$1.png
RewriteCond $0#%{REQUEST_URI} ([^#]*)#(.*)\1$
RewriteRule apple-icon.png$ %2favicon-192.png
