// Title bar styles for the Mealodex
#mealodex {
	@include flex-container-vertical;
	min-height: 100vh;

	& > header {
		background-color: $purple;
		color: $white;
		@include flex-container-center;
		@include flex-item-fixed;
		padding: 0 5px;
		height: 30px;
	}
}

#favicon {
	width: 20px;
	height: 20px;
	display: inline-block;
}
#sitetitle {
	font-size: .9em;
	margin: 0 18px 0 7px;
}

#recipesearch {
	@include flex-container-center;
	margin-left: auto;
	input {
		border: none;
		background-color: transparent;
		color: inherit;
		width: .01px;
		margin-left: auto;
		font-size: .8em;
		text-align: right;
	}
	&:after {
		@include fontawesome;
		content: '\f002';
		font-size: .8em;
		padding: 0 2px 2px 0;
		margin-left: 6px;
	}
	&:focus-within {
		@include flex-item-fill;
		input {
			@include flex-item-fill;
		}
	}
	&:hover input {
		width: 110px;
	}
}
