// Title bar styles for the Mealodex
#mealodex {
	@include flex-container-vertical;
	min-height: 100vh;

	& > header {
		background-color: $purple;
		color: $white;
		@include flex-container-center;
		@include flex-item-fixed;
		padding: 0 5px;
		height: 30px;
	}
}

#favicon {
	width: 20px;
	height: 20px;
	display: inline-block;
}
#sitetitle {
	font-size: .9em;
	margin: 0 18px 0 7px;
}
